/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-10-30, 09:35:20
    Author     : Tomasz Jacek
*/
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  width: 1200px; }
  @media (max-width: 1200px) {
    .container {
      width: 768px; } }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }

.header {
  margin: 0 0 40px;
  padding: 85px 40px 0; }
  .header img {
    max-width: 100%;
    display: block; }
  @media (max-width: 1200px) {
    .header {
      padding: 85px 15px 0; } }
  @media (max-width: 768px) {
    .header {
      padding: 15px 15px 0; }
      .header img {
        margin: 0 auto; } }

.whole-screen {
  background: url("../assets/images/full-background.jpg") no-repeat left bottom;
  background-size: contain;
  height: 100vh;
  width: 100%; }

.content {
  align-items: center;
  display: inline-flex;
  line-height: 135%;
  flex-wrap: wrap;
  justify-content: space-between; }
  .content .column {
    padding: 0 40px;
    width: calc(50% - 80px); }
    .content .column .item {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: flex-start;
      min-height: 50px;
      width: 100%; }
      .content .column .item img {
        display: block;
        height: auto;
        margin-right: 15px;
        max-width: 100%; }
    .content .column .diversed-item {
      margin-top: 15px; }
  .content .contact-info {
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    padding: 0 45px;
    width: calc(50% - 110px); }
    .content .contact-info .diversed-item {
      width: 90%; }
    .content .contact-info .phone-section {
      display: inline-flex;
      width: 100%; }
      .content .contact-info .phone-section .diversed-item {
        display: inline-flex;
        width: 55%; }
      .content .contact-info .phone-section p {
        width: 50%; }
    .content .contact-info p {
      margin: 0; }
  .content .short-line {
    background-color: #b7c509;
    content: "";
    display: block;
    height: 3px;
    width: 25px; }
    @media (max-width: 768px) {
      .content .short-line {
        margin: 0 auto; } }
  @media (max-width: 1200px) {
    .content .column {
      padding: 0 15px;
      margin: 0 auto;
      width: 100%; } }
  @media (max-width: 768px) {
    .content .column .item {
      display: block; }
      .content .column .item img {
        margin: 10px auto; }
      .content .column .item p {
        width: 100%; }
      .content .column .item .diversed-item {
        text-align: center;
        width: 100%; }
    .content .contact-info .phone-section .diversed-item {
      display: block; } }

/*# sourceMappingURL=styles.css.map */
