/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-10-30, 09:35:20
    Author     : Tomasz Jacek
*/

body {
    font: {
        family: 'Titillium Web', sans-serif;
        size: 15px;
    }
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1200px;
    @media (max-width: 1200px) {
        width: 768px;
    }
    @media (max-width: 768px) {
        width: 100%;
    }
}
.header {
    margin: 0 0 40px;
    padding: 85px 40px 0;
    img {
        max-width: 100%;
        display: block;
    }
    @media (max-width: 1200px) {
        padding: 85px 15px 0;
    }
    @media (max-width: 768px) {
        padding: 15px 15px 0;
        img {
            margin: 0 auto;
        }
    }
}
.whole-screen {
    background: url("../assets/images/full-background.jpg") no-repeat left bottom;
    background-size: contain;
    height: 100vh;
    width: 100%;
}
.content {
    align-items: center;
    display: inline-flex;
    line-height: 135%;
    flex-wrap: wrap;
    justify-content: space-between;
    .column {
        padding: 0 40px;    
        width: calc(50% - 80px);
        .item {
            display: inline-flex;
            flex-wrap: wrap;
            align-items: flex-start;
            min-height: 50px;
            width: 100%;
            img {
                display: block;
                height: auto;
                margin-right: 15px;
                max-width: 100%;
            }
        }
        .diversed-item {
            margin-top: 15px;
        }
    }
    .contact-info {
        font: {
            weight: 600;
            size: 18px;
        }
        line-height: 115%;
        padding: 0 45px;
        width: calc(50% - 110px);
        .diversed-item {
            width: 90%;
        }
        .phone-section {
            display: inline-flex;
            width: 100%;
            .diversed-item {
                display: inline-flex;
                width: 55%;
            }
            p {
                width: 50%;
            }
        }
        p {
            margin: 0;
        }
    }
    .short-line {
        background-color: #b7c509;
        content: "";
        display: block;
        height: 3px;
        width: 25px;
        @media (max-width: 768px) {
            margin: 0 auto;
        }
    }
    @media (max-width: 1200px) {
        .column {
            padding: 0 15px;
            margin: 0 auto;
            width: 100%;
        }
    }
    @media (max-width: 768px) {
        .column {
            .item {
                display: block;
                img {
                    margin: 10px auto;
                }
                p {
                    width: 100%;
                }
                .diversed-item {
                    text-align: center;
                    width: 100%;
                }
            }
        }
        .contact-info {
            .phone-section {
                .diversed-item {
                    display: block;
                }
            }
        }
    }
}


